@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Manrope";
  src: url("src/assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("src/assets/fonts/helvetica/HelveticaNeueBoldCondensed.eot");
}

.r-hidden {
  display: none;
}

.text-manrope {
  font-family: "Manrope" !important;
}

.text-helvetica-neue {
  font-family: "Helvetica Neue" !important;
}
