@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Manrope";
  src: url("src/assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("src/assets/fonts/helvetica/HelveticaNeueBoldCondensed.eot");
}

.r-hidden {
  display: none;
}

.text-manrope {
  font-family: "Manrope", sans-serif !important;
}

.text-helvetica-neue {
  font-family: "Helvetica Neue", sans-serif !important;
}

.header-logo {
  height: .7em;
  width: auto;
}

.small-logo {
  height: .6em;
}

.rent-btn {
  min-height: 27px;
}

.get-trip-btn {
  min-height: 27px;
}

@media (min-width: 768px) {
  .header-logo {
    height: .9em;
  }

  .small-logo {
    height: .8em;
  }

}

@media (min-width: 1280px) {
  .header-logo {
    height: .5em;
  }
}

@media (min-width: 1440px) {
  .header-logo {
    height: .6em;
  }
}
