/* Тут задаем все базовые стили для текстов, включая quasar классы типа text-h1, text-caption и тд, и создание своих мини-классов для текстов
 */
h1,
.text-h1 {
  font-weight: bolder;
  line-height: 110%;
  font-family: "Manrope", sans-serif;
}

h2,
h3,
h4,
h5,
.text-h2,
.text-h3,
.text-h4,
.text-h5 {
  font-weight: bold;
  line-height: 100%;
  font-family: "Manrope", sans-serif;
}

p {
  font-family: "Manrope", sans-serif;
}

.text-t1 {
  line-height: 120%;
  font-family: "Helvetica Neue", sans-serif;
}

.text-t1 .bold {
  font-weight: bold;
}

.text-t2 {
  font-weight: normal;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
}

.text-t2 .medium {
  font-weight: 600;
}

.text-t3 {
  line-height: 150%;
  font-family: "Manrope", sans-serif;
}

.text-t3 .bold {
  font-weight: bold;
  line-height: 100%;
  font-family: "Manrope", sans-serif;
}

.text-t4 {
  font-weight: normal;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
}

.btn-text {
  font-weight: 600;
  line-height: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

.title-font {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.02em;
}

/* Далее задаём размеры, вынес это отдельно из предыдущих определений, чтоб не путаться */

@media (min-width: 768px) and (max-width: 1279px) {
  .title-font {
    font-size: 24px;
  }
}

@media (min-width: 1440px) {
  h1,
  .text-h1 {
    font-size: 64px;
  }

  h2,
  .text-h2 {
    font-size: 40px;
  }

  h3,
  .text-h3 {
    font-size: 36px;
  }

  h4,
  .text-h4 {
    font-size: 24px;
  }

  h5,
  .text-h5 {
    font-size: 24px;
  }

  .text-t1 {
    font-size: 24px;
  }

  .text-t1 .bold {
    font-size: 16px;
  }

  .text-t2 {
    font-size: 24px;
  }

  .text-t2 .medium {
    font-size: 24px;
  }

  .text-t3 {
    font-size: 16px;
  }

  .text-t3 .bold {
    font-size: 16px;
  }

  .text-t4 {
    font-size: 14px;
  }

  .text-t5 {
    font-size: 12px;
  }

  .btn-text {
    font-size: 20px;
  }

  .title-font {
    font-size: 24px;
  }
}
