/* Тут задаем все базовые стили для текстов, включая quasar классы типа text-h1, text-caption и тд, и создание своих мини-классов для текстов
 */
h1,
.text-h1 {
  font-weight: bolder;
  line-height: 110%;
  font-family: "Manrope", sans-serif;
}

h2,
h3,
h4,
h5,
.text-h2,
.text-h3,
.text-h4,
.text-h5 {
  font-weight: bold;
  line-height: 100%;
  font-family: "Manrope", sans-serif;
}

p {
  font-family: "Manrope", sans-serif;
}

.text-t1 {
  line-height: 120%;
  font-family: "Helvetica Neue", sans-serif;
}

.text-t1 .bold {
  font-weight: bold;
}

.text-t2 {
  font-weight: normal;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
}

.text-t2 .medium {
  font-weight: 600;
}

.text-t3 {
  line-height: 150%;
  font-family: "Manrope", sans-serif;
}

.text-t3 .bold {
  font-weight: bold;
  line-height: 100%;
  font-family: "Manrope", sans-serif;
}

.text-t4 {
  font-weight: normal;
  line-height: 140%;
  font-family: "Manrope", sans-serif;
}

.btn-text {
  font-weight: 600;
  line-height: 100%;
  font-family: "Helvetica Neue", sans-serif;
}

.order-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 19px;

  span {
    line-height: 1;
  }
}

.title-font {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: 0.02em;
}

/* Далее задаём размеры, вынес это отдельно из предыдущих определений, чтоб не путаться */

